<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dxvkConfig</key>
	<dict>
		<key>dxvk</key>
		<false/>
		<key>dxvkAsync</key>
		<true/>
		<key>dxvkHud</key>
		<dict>
			<key>off</key>
			<dict/>
		</dict>
	</dict>
	<key>fileVersion</key>
	<dict>
		<key>build</key>
		<string></string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>0</integer>
		<key>patch</key>
		<integer>0</integer>
		<key>preRelease</key>
		<string></string>
	</dict>
	<key>info</key>
	<dict>
		<key>blocklist</key>
		<array/>
		<key>name</key>
		<string>Snow crab</string>
		<key>pins</key>
		<array/>
	</dict>
	<key>metalConfig</key>
	<dict>
		<key>dxrEnabled</key>
		<false/>
		<key>metalHud</key>
		<false/>
		<key>metalTrace</key>
		<false/>
	</dict>
	<key>wineConfig</key>
	<dict>
		<key>avxEnabled</key>
		<false/>
		<key>enhancedSync</key>
		<dict>
			<key>msync</key>
			<dict/>
		</dict>
		<key>windowsVersion</key>
		<string>win11</string>
		<key>wineVersion</key>
		<dict>
			<key>build</key>
			<string></string>
			<key>major</key>
			<integer>7</integer>
			<key>minor</key>
			<integer>7</integer>
			<key>patch</key>
			<integer>0</integer>
			<key>preRelease</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
